* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 70%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.capsules_eod {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.capsule {
  /* margin-right: 10px; */
  width: 120px;
  border-radius: 500px;
  color: #7b66ff;
  /* background-color: #42cacd; */
  border: 1px solid #42cacd;
  display: flex;
  color: #42cacd;
  cursor: pointer;
  align-items: center;
  padding: 5px;

  justify-content: center;
}
