*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
/* .cells{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
} */
tr .align-me {
          display: flex;
          align-items: center;
        }